#video-overlay{
  z-index:1000;
  width: 100%;
  height:100%;
  position: fixed;
  top: 0px;
  left:0px;
  background-color:black;
}

#video-overlay-close-button{
  position: absolute;
  top:0;
  right:0;
}
